@import '../../../app/variables.scss';

.button {
  @include button-styles;
  background: $gradient-blue-background;
}

@media (max-width: 600px) {
  .button {
    padding: 8px 12px;
  }
}

.deleteBg {
  background-color: red;
}
