@import '../../../app/variables.scss';

.modal {
  @include modal-base;
}

.modalContent {
  @include modal-content-base;

  p {
    color: $text-color-gray;
    margin: 0;
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  width: 100%;
  gap: 16px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
